<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/user.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
<%- include('../includes/staff_navigation.ejs') %>

<main>
    <div class="container">
        <div class="column2">
                <div class="container">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <% for(var i=0; i < confirm_orders_list.length; i += 1) { %> 
            
                            <div class="card"">
                                <ul class="list-group list-group-flush">
                                    <div class="row">
                                        <div class="col">
                                            <li class="list-group-item">Order : <%= confirm_orders_list[i].order_no %></li>
                                        </div>
                                        
                                    </div>
                                    <li class="list-group-item">Phone Number: <%= confirm_orders_list[i].phone %></li>
                                    <li class="list-group-item">Delivery Address : <%= confirm_orders_list[i].addr %></li>
                                    <li class="list-group-item">Customer Name : <%= confirm_orders_list[i].cust_name %></li>
                                    <li class="list-group-item">Time Stamp : <%= confirm_orders_list[i].time_stamp.toLocaleString() %></li>
                                    <li class="list-group-item">Other Order and Delivery Details</li>
                                    <!-- <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Area Code :</span>
                                        </div>
                                        <input type="text" class="form-control-range" style="width: 30%;">
                                        
                                    </div> -->
                                    <!-- <li class="list-group-item">Area Code :</li> -->
                                </ul>
                                <!-- <div style="text-align: right;">
                                    <button type="button" class="btn btn-outline-danger">Assign Order</button>
                                </div> -->
                                </div>
                                <br>
                            <% } %>
                        </div>
                        <div class="col-2"></div>
                        
                    </div>
                
            </div>

        </div> 
    </div>
    
    
</main>
<%- include('../includes/end.ejs') %>
