<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/user.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- <script src="//ej2.syncfusion.com/javascript/demos/samples/dropdownlist/filtering/datasource.js" type="text/javascript"></script>
<script src="//cdn.syncfusion.com/ej2/dist/ej2.min.js" type="text/javascript"></script> -->
</head>

<body>
    <script>
        var item_lst = <%- JSON.stringify(menus) %>;
        console.log(item_lst);
        function filterFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            div = document.getElementById("myDropdown");
            a = div.getElementsByTagName("option");
            for (i = 0; i < a.length; i++) {
                txtValue = a[i].textContent || a[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
                } else {
                a[i].style.display = "none";
                }
            }
        } 

        function clickfunc(id){
            console.log("INSIDE CLICK FUNCTION");
            console.log("id : ", id, typeof(id));
            console.log(item_lst, item_lst[id]);
            var a = document.getElementById("price_input");
            var b = document.getElementById("tag_input");
            a.value = item_lst[id].price;
            b.value = item_lst[id].tag;
        }
    </script>
<%- include('../includes/manager_navigation.ejs') %>

<main>
    <div class="container">
        <div class="column2">
                <div class="container">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                        
                          <form action="#" method="post">
                            <div class="form-group">
                                <label for="name">Item Name :</label>
                                <input type="text" class="form-control" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                                <select class="selectpicker" data-style="btn-info" name="menu_id" id="myDropdown">
                                    <optgroup label="Select Table">
                                        <option value="">Select Raw Material</option>
                                        <!-- <% menus.forEach(function(item){ %>
                                        <% }) %> -->
                                        <% for (var i=0; i < menus.length; i += 1) { %>
                                        <option onclick="clickfunc(<%= i %>)" value="<%= menus[i].id %>"><%= menus[i].name %></option>
                                        <% } %>
                                    </optgroup> 
                                </select>
                            </div>
                            <div class="form-group">
                              <label for="phone">Price</label>
                              <input type="number" min="1" class="form-control" name="price" placeholder="Enter quantity" id="price_input">
                            </div>
                            <div class="form-group">
                                <label for="phone">Tags: </label>
                                <input type="text" class="form-control" name="tag" placeholder="comma separated" id="tag_input">
                            </div>
                            <div class="form-group col-md-4">
                            <label for="available">Available: </label>
                            <select id="available_input" name="available" class="form-control">
                                <option selected value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                              </div>
                            <div style="align-items: center;text-align: center;">
                                <button type="submit" class="btn btn-primary" style="align-items: center;">Update</button>
                            </div>
                          </form>
                          <br>
                          <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Item Name</th>
                                  <th scope="col">Price</th>
                                  <th scope="col">Tag</th>
                                  <!-- <th scope="col">Time Stamp</th> -->
                                </tr>
                              </thead>
                              <tbody>
                                  <% for(var i=menus.length-1;i >= 0; i--) { %>
                                      <tr>
                                          <th scope="row"> <%= i+1 %></th>
                                          <td> <%= menus[i].name %></td>
                                          <td> <%= menus[i].price %></td>
                                          <td> <%= menus[i].tag %></td>
                                          
                                        </tr>
                                  <% } %>
                              </tbody>
                            </table>   
                        </div>
                        <br>
                        <div class="col-2"></div>
                    </div>
            </div>

        </div> 
    </div>
    
</main>
<!-- <%- include('../includes/end.ejs') %> -->
