<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/user.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <script>
        var car_items =  <%- JSON.stringify(cart_items) %>;
        console.log("car_items : ", car_items);
        var cart_list = [];
        var quantity_list = [];
        var price_list = [];
        car_items.forEach(elem => {
            console.log(elem.id, elem.price);
            cart_list.push(elem.id);
            price_list.push(elem.price);
            quantity_list.push(0);
        });

        console.log("cart_list : ", cart_list);
        console.log("price_list : ", price_list);
        console.log("quantity_list : ", quantity_list);
        
        var a = document.getElementById("form_cart_list");
        var b = document.getElementById("form_price_list");
        a.value = cart_list;
        b.value = price_list;

        function test_fun(x, y1) {
            var y =  parseInt(y1);
            console.log("INSIDE FUNC");
            console.log("x : ", x, y, typeof(x), typeof(y));
            // console.log(cart_list[x], );
            quantity_list[x] = y;
            console.log(quantity_list);

            var c = document.getElementById("form_quantity_list");
            c.value = quantity_list;

            var a = document.getElementById("form_cart_list");
            var b = document.getElementById("form_price_list");
            a.value = cart_list;
            b.value = price_list;
            
            console.log("cart_list_value : ", a.value);
            console.log("price_list : ", b.value);
        }

    </script>
<%- include('../includes/user_navigation.ejs') %>
    
<main>
    <div class="container">

        <% for(var i=0,j=1; i < cart_items.length, j < cart_items.length; i += 2, j += 2) { %> 
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card" style="width: 28rem">
                        <center>
                            <img class="card-img-left" src="/images/pizza.jpg" alt="Card image cap" style="height: 7.9cm; width: 28rem;">
                        </center>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <h4>
                                        <div class="Item_Name">
                                            <%= cart_items[i].name %>
                                        </div>
                                    </h4>
                                    <h5>Price: <%= cart_items[i].price %></h5>
                                </div>
                                <div class="col-5">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Quantity:</span>
                                        </div>
                                        <input type="number" class="form-control-range" min="0" max="10" value="0" style="width: 30%;" 
                                                onchange="test_fun(<%= i %>, this.value)">
                                        </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                    <!-- <div class="col-2"></div> -->
                <div class="col-lg-6 mb-4">
                    <div class="card" style="width: 28rem;">
                        <center>
                            <img class="card-img-left" src="/images/pizza.jpg" alt="Card image cap" style="height: 7.9cm; width: 28rem;">
                        </center>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <h4>
                                        <div class="Item_Name">
                                            <%= cart_items[j].name %>
                                        </div>
                                    </h4>
                                    <h5>Price: <%= cart_items[j].price %></h5>
                                </div>
                                <div class="col-5">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Quantity:</span>
                                        </div>
                                        <input type="number" class="form-control-range" min="0" max="10" value="0" style="width: 30%;"
                                        onchange="test_fun(<%= j %>, this.value)">    
                                        </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>
            <% } %>
            <% if( cart_items.length%2 === 1 ){ %>
                <div class="card" style="width: 28rem;">
                    <center>
                        <img class="card-img-left" src="/images/pizza.jpg" alt="Card image cap" style="height: 7.9cm; width: 28rem;">
                    </center>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-7">
                                <h4>
                                    <div class="Item_Name">
                                        <%= cart_items[cart_items.length-1].name %>
                                    </div>
                                </h4>
                                <h5>Price: <%= cart_items[cart_items.length-1].price %></h5>
                            </div>
                            <div class="col-5">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Quantity:</span>
                                    </div>
                                    <input type="number" class="form-control-range" min="0" max="10" value="0" style="width: 30%;"
                                    onchange="test_fun(<%= cart_items.length-1 %>, this.value)">    
                                    </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
           <% } %>
            
        <br>
        <form method="post" action="/user/cart">
            <div class="form-row">
                <div class="form-group">
                  <label for="inputText4">Name</label>
                  <input type="text" class="form-control" id="inputText4" name="name" value= <%= name %>>
                </div>
              </div>
            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control" id="inputAddress" name="address" value= <%= address %>>
            </div>
            <div class="form-group">
                <label for="inputNumber">Phone Number</label>
                <input type="number" class="form-control" id="inputNumber" name="phone_num" value= <%= phone_num %>>
              </div>
              <!-- <input type="text" name="name" class="form-control" id="inputText4" value= <%= name %>>
              <input type="text" name="address" class="form-control" id="inputAddress" value= <%= address %>>
              <input type="number" name="phone_num" class="form-control" id="inputNumber" value= <%= phone_num %>> -->
              <input type="hidden" id="form_cart_list" value="" name="cart_list">
              <input type="hidden" id="form_price_list" value="" name="price_list">
              <input type="hidden" id="form_quantity_list" value="" name="quantity_list">
              <center>
                <button type="submit" class="btn btn-outline-success">Place Order</button>
            </center>
          </form>
    </div>
    
    
</main>
<%- include('../includes/end.ejs') %>
