<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/user.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
<script>
    var lis = <%- JSON.stringify(orders_now) %>;
    console.log("lis",lis);

    function fun(x,i) {
        console.log(x);
        console.log(i);
        var a = document.getElementById("order_no_"+i);
            a.value = x;
        }
        console.log(document.getElementById("order_no_<%= i %>").value);
</script>
<%- include('../includes/user_navigation.ejs') %>

<main>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">

                <% for(var i=0; i < orders_now.length; i += 1) { %> 

                    <div class="card">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Order No: #<%= orders_now[i].order_no %></li>
                                <% if(orders_now[i].phone1) { %>
                                    <li class="list-group-item">Delivery Person: <%= orders_now[i].username %></li>
                                    <li class="list-group-item">Delivery Person's Phone No: <%= orders_now[i].phone1 %></li>
                                <% } %>
                                
                                <li class="list-group-item">Customer Name: <%= orders_now[i].cust_name %></li>
                                <li class="list-group-item">Customer Address: <%= orders_now[i].addr %></li>
                                <li class="list-group-item">TimeStamp: <%= orders_now[i].time_stamp.toLocaleString() %></li>
                                <li class="list-group-item">Bill: <%= orders_now[i].bill %>/-</li>
                                <li class="list-group-item">Delivery Status : <%= orders_now[i].stat %></li>
                            </ul>
                            <!-- <input id="order_no_<%= i %>" value="" name="order_no"> -->
                                  <!-- <button type="submit" class="btn btn-success" style="float: right;" onclick="fun(<%= orders_now[i].order_no %>, <%= i %>)">Expand</button> -->
                            <form method="post" action="/user/curr_ords">
                                  <input type="hidden" id="order_no_<%= i %>" value="" name="order_no">
                                  <button type="submit" class="btn btn-success" style="float: right;" onclick="fun(<%= orders_now[i].order_no %>, <%= i %>)">Expand</button>                              
                              </form>
                        </div>
                        
                        </div>
                        <br>
                    <% } %>
            </div>
            <div class="col-2"></div>
            
        </div>
    </div>
    
    
</main>
<%- include('../includes/end.ejs') %>
